.profile-item {
  padding: 15px;
  cursor: pointer;
  background: #f0f2f5;
  border: 1px solid #b7b7b7;
  border-radius: 2px;
  transition: all .2s;

  &:hover {
    border-color: #d61889;
    transition: all .2s;
  }
}

.profile-active {
  color: white;
  background: #d61889;
  transition: all .2s;
}

.ant-tag-checkable {
  margin: 2px;
}

.ant-tag-checkable:not(.ant-tag-checkable-checked) {
  margin: 2px;
  background: #f0f2f5;
  border: 1px solid #b7b7b7;
}

.ant-tag-checkable:not(.ant-tag-checkable-checked):hover {
  border-color: #d618891f;
}
