@import '../../../../../css/framework/variables';

.profile-item {
  padding: 15px;
  cursor: pointer;
  background: $gray;
  border: 1px solid $border-light;
  border-radius: 2px;
  transition: all .2s;

  &:hover {
    border-color: $primary;
    transition: all .2s;
  }
}

.profile-active {
  color: white;
  background: $primary;
  transition: all .2s;
}

.ant-tag-checkable {
  margin: 2px;
}

.ant-tag-checkable:not(.ant-tag-checkable-checked) {
  transition: all .2s;
  margin: 2px;
  background: $gray;
  border: 1px solid $border-light;
}

.ant-tag-checkable:not(.ant-tag-checkable-checked):hover {
  transition: all .2s;
  border-color: $hovered-primary;
}
