// Framework

$primary-color: #7d3e80;
$font-size-base: 16;
$layout-body-background: #f0f2f5;
$layout-header-background: #fff;
$border-color-base: #dedede;

// Paddings, Margins

$space-basic: 5px;

$space-x-small: 10px;
$space-small: 15px;
$space-standard: 20px;
$space-s-medium: 25px;
$space-medium: 30px;
$space-x-medium: 35px;
$space-s-large: 50px;
$space-large: 75px;
$space-x-large: 100px;

// Font

$font-size: $font-size-base;

// Screen displays

$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-x-large: 1200px;
$break-xx-large: 1600px;

// Colors

$primary: $primary-color;
$primary-light: #c398c2;
$primary-darker: #49135f;
$primary-1: #6d3776;
$primary-1-light: #985897;
$primary-2: #5f326c;
$gray: #f0f2f5;
$black: #000;
$mineShaft: #1f1f1f;
$mineShaft-light: #262626;
$tundora: #404040;
$shuttleGray: #5c646c;
$alto: #dedede;

$border-light: #b7b7b7;
$hovered-primary: #d618891f;
