/* Paddings, Margins */

$space-basic: 5px;

$space-x-small: 10px;
$space-small: 15px;
$space-standard: 20px;
$space-s-medium: 25px;
$space-medium: 30px;
$space-x-medium: 35px;
$space-large: 75px;
$space-x-large: 100px;

/* Font */

$font-size: 16px;