.social-button-facebook{
  margin-top: 5px;
  background: #3b5998;
  border-color: #3b5998;
  span:first-child{
    padding-right: 10px;
  }
}

.social-button-google{
  background: #DB4437;
  border-color: #DB4437;
  span:first-child{
    padding-right: 10px;
  }
}