@import './../../../css/default';

.one-side-layout {
  display: flex !important;
  flex-direction: row !important;
  min-height: 100vh !important;

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
  }

  main.black-side {
    color: $gray;
    text-align: center;
    width: 40%;
    padding: 35px;
    background: #001529;

    h1 {
      color: $primary;
    }

    span {
      font-size: 30px;
      color: $gray;
    }
  }

  main.light-side {
    width: 60%;
    padding-top: 90px;
    background: $gray;
  }
}

.dark {
  main.light-side {
    background: $mineShaft-light;
  }
}

@media (max-width: 960px) {
  main.black-side {
    display: none;
  }

  main.light-side {
    width: 100%;
  }
}
