@import 'default';
@import 'framework/spaces';
@import 'framework/display';

#app {
  .connected-pill-buttons {
    button:nth-child(1) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    button:nth-child(2) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }

  .ant-btn-primary:hover,
  .ant-btn-primary:focus {
    background: $primary-darker;
    border-color: $primary-darker;
  }

  .ant-btn.btn-white:hover,
  .ant-btn.btn-white:focus {
    color: white;
    background: $primary-1-light;
    border-color: $primary-1-light;
  }
}

.ant-menu-submenu-title:active + .ant-menu-submenu-title:hover {
  color: white;
}

.ant-layout-header {
  z-index: 1;
  box-shadow: 0 4px 4px colorOpacity($black, .15);

  & > .ant-menu {
    height: calc(100% - 1px);
  }

  .ant-menu-horizontal {
    border: none;
  }
}

.ant-layout-header.dark,
.ant-layout.dark {
  color: colorOpacity($gray, .85);
  background: $mineShaft-light;

  .ant-menu,
  .ant-layout-header {
    color: colorOpacity($gray, .85);
    background: $mineShaft-light;
  }

  .ant-btn-primary {
    color: $black;
    background: $primary-light;
    border-color: $primary-light;
  }

  .ant-btn-primary:hover,
  .ant-btn-primary:focus {
    background: lighten($primary-light, 10%);
    border-color: lighten($primary-light, 10%);
  }

  .ant-card {
    background: $mineShaft;
  }

  .ant-card-head,
  .ant-card-bordered {
    border-color: $mineShaft;
  }

  .ant-input-affix-wrapper {
    color: colorOpacity($gray, .85);
    background-color: $mineShaft;
    border: 1px solid $tundora;
  }

  input {
    color: colorOpacity($gray, .85);
    background-color: colorOpacity($mineShaft, .85);
  }

  .ant-form,
  .ant-form-item-label > label,
  .ant-form-item,
  .ant-card-head {
    color: colorOpacity($gray, .85);
  }

  .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
  .ant-menu-submenu-active,
  .ant-menu-submenu-title:hover,
  a {
    color: $primary-light;
  }

  a:hover {
    color: lighten($primary-light, 10%);
  }

  .ant-menu-horizontal > .ant-menu-item:hover,
  .ant-menu-horizontal > .ant-menu-submenu:hover,
  .ant-menu-horizontal > .ant-menu-item-active,
  .ant-menu-horizontal > .ant-menu-submenu-active,
  .ant-menu-horizontal > .ant-menu-item-open,
  .ant-menu-horizontal > .ant-menu-submenu-open,
  .ant-menu-horizontal > .ant-menu-item-selected,
  .ant-menu-horizontal > .ant-menu-submenu-selected {
    color: $primary-light;
    border-bottom: 2px solid $primary-light;
  }

  .ant-switch-checked {
    background-color: $primary-light;
  }

  .ant-input-affix-wrapper:focus,
  .ant-input-affix-wrapper-focused {
    box-shadow: 0 0 0 2px rgba($primary-light, .2);
  }
}

.ant-menu-submenu-popup.dark {
  color: colorOpacity($gray, .85);
  background: $mineShaft-light;

  & > .ant-menu {
    color: colorOpacity($gray, .85);
    background: $mineShaft-light;
  }

  .ant-menu-item:hover,
  .ant-menu-item-active,
  .ant-menu-submenu-title:hover {
    color: $primary-light;
  }
}

.dark .ant-drawer-content,
.ant-layout-footer.dark {
  color: colorOpacity($gray, .85);
  background: $mineShaft-light;
}

.dark {
  .ant-drawer-header {
    color: colorOpacity($gray, .85);
    background: $mineShaft-light;
    border-bottom: 1px solid $tundora;

    .ant-drawer-close {
      color: inherit;
    }
  }

  .ant-drawer-title {
    color: colorOpacity($gray, .85);
  }

  .ant-drawer-content {
    .ant-menu {
      color: colorOpacity($gray, .85);
      background-color: $mineShaft;

      .ant-menu-item-selected,
      .ant-menu-submenu-selected,
      .ant-menu-item:hover,
      .ant-menu-item-active,
      .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
      .ant-menu-submenu-active,
      .ant-menu-submenu-title:hover {
        color: $primary-light;
      }

      .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected,
      .ant-menu-item:active,
      .ant-menu-submenu-title:active {
        background: $primary-1-light;
      }
    }

    .ant-menu-vertical .ant-menu-item::after,
    .ant-menu-vertical-left .ant-menu-item::after,
    .ant-menu-vertical-right .ant-menu-item::after,
    .ant-menu-inline .ant-menu-item::after {
      border-right: 1px solid $primary-light;
    }

    .ant-menu-inline {
      border-right: 1px solid $tundora;
    }
  }

  .ant-menu-submenu-vertical > .ant-menu-submenu-title .ant-menu-submenu-arrow::before,
  .ant-menu-submenu-vertical-left > .ant-menu-submenu-title .ant-menu-submenu-arrow::before,
  .ant-menu-submenu-vertical-right > .ant-menu-submenu-title .ant-menu-submenu-arrow::before,
  .ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow::before,
  .ant-menu-submenu-vertical > .ant-menu-submenu-title .ant-menu-submenu-arrow::after,
  .ant-menu-submenu-vertical-left > .ant-menu-submenu-title .ant-menu-submenu-arrow::after,
  .ant-menu-submenu-vertical-right > .ant-menu-submenu-title .ant-menu-submenu-arrow::after,
  .ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow::after {
    background-image: linear-gradient(
      to right,
      colorOpacity($gray, .85),
      colorOpacity($gray, .85)
    );
  }

  .ant-menu-submenu-vertical > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
  .ant-menu-submenu-vertical-left > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
  .ant-menu-submenu-vertical-right > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
  .ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
  .ant-menu-submenu-vertical > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
  .ant-menu-submenu-vertical-left > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
  .ant-menu-submenu-vertical-right > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
  .ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from($primary-light),
      to($primary-light)
    );
    background: linear-gradient(to right, $primary-light, $primary-light);
  }

  .ant-typography,
  h2.ant-typography,
  .ant-typography h2 {
    color: colorOpacity($gray, .85);
  }

  .ant-carousel .slick-dots li.slick-active button {
    background-color: colorOpacity($primary-light, .5);
  }

  .ant-carousel .slick-dots li button {
    background-color: $primary-light;
  }

  .b-white {
    background-color: $mineShaft-light;
  }

  .ant-checkbox-wrapper {
    color: colorOpacity($gray, .85);
  }
}

@media screen and (max-width: $break-large) {
  .ant-layout-header > .hamburger {
    margin-top: 17px;
  }
}

img{
  border-radius: 10px;
}
